body{
    margin: 0;
}

.flex-container{
    display: flex;
    border: 3px solid red;
   height: 98vh;
    align-items: baseline;
}


.flex-container div{
    color: black;
    text-align: center;
   font-size: 1.5em;
}

.uno{
    background-color: aquamarine;
    line-height: 0px;
   
}

.dos{
    background-color: lightskyblue;
    line-height: 25px;
}

.tres{
    background-color: purple;
    line-height: 30px;

}

.cuatro{
    background-color: darkslateblue;
    line-height: 40px;
   
}

.cinco{
    background-color: orange;
    line-height: 3px;
    
}

.seis{
    background-color: rgb(236, 113, 69);
}

.siete{
    background-color: darkred;
}

.ocho{
    background-color: silver;
}

.nueve{
    background-color: limegreen;
}

.diez{
    background-color: darkcyan;
    line-height: 20px;
}